$wall: #E96576;
$floor: #C76F78;
$brown: #402F42;
$lightbrown: #919086;
$skin: #FCE0CE;
$darkskin: #F3C1A9;
$gray: #A69DA1;
$darkgray: gray;
$darkblue: #2C6691;
$blue: #53C7F0;
$lightblue: #439aab;
$yellow: #FCFA70;
$orange: #F78C45;
$white: #FFF;
$red: #B72A67;
$cream: #FDF5EF;

div {
  display: inline-flex;
}

.absolute {
  position: absolute;
}

.card {
  background-color: $wall;
  height: 615px;
  position: relative;
  width: 800px;
  &__boy {
    @extend .absolute;    
    background-color: $skin;
    height: 276px;
    width: 276px;
    margin: 50px;
    &--lefteyetop {
      @extend .absolute;
      animation: eye;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      background-color: $gray;
      height: 24px;
      left: 72px;
      top: 180px;
      width: 24px;
    }
    &--lefteyebottom {
      @extend .absolute;
      background-color: $gray;
      height: 24px;
      left: 72px;
      top: 192px;
      width: 24px;
    }
    &--righteyetop {
      @extend .absolute;
      @extend .card__boy--lefteyetop;
      left: 180px;
    }
    &--righteyebottom {
      @extend .absolute;
      @extend .card__boy--lefteyebottom;
      left: 180px;
    }
    &--1 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      width: 84px;
    }
    &--2 {
      @extend .absolute;
      background-color: $gray;
      height: 12px;
      left: 84px;
      width: 144px;
    }
    &--3 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      left: 228px;
      width: 48px;
    }
    &--4 {
      @extend .absolute;
      @extend .card__boy--1;
      top: 12px;
      width: 60px;
    }
    &--5 {
      @extend .absolute;
      @extend .card__boy--2;
      left: 60px;
      top: 12px;
      width: 192px;
    }
    &--6 {
      @extend .absolute;
      @extend .card__boy--3;
      left: 252px;
      top: 12px;
      width: 24px;
    }
    &--7 {
      @extend .absolute;
      @extend .card__boy--4;
      top: 24px;
    }
    &--8 {
      @extend .absolute;
      @extend .card__boy--2;
      left: 60px;
      top: 24px;
    }
    &--9 {
      @extend .absolute;
      background-color: $darkgray;
      height: 12px;
      left: 192px;
      top: 24px;
      width: 24px;
    }
    &--10 {
      @extend .absolute;
      @extend .card__boy--5;
      left: 216px;
      top: 24px;
      width: 48px;
    }
    &--11 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      left: 264px;
      top: 24px;
      width: 12px;
    }
    &--12 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      top: 36px;
      width: 24px;
    }
    &--13 {
      @extend .absolute;
      @extend .card__boy--5;
      left: 24px;
      top: 36px;
    }
    &--14 {
      @extend .absolute;
      @extend .card__boy--9;
      left: 204px;
      top: 36px;
      width: 36px;
    }
    &--15 {
      @extend .absolute;
      background-color: $gray;
      height: 12px;
      left: 240px;
      top: 36px;
      width: 12px;
    }
    &--16 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      left: 252px;
      top: 36px;
      width: 24px;
    }
    &--17 {
      @extend .absolute;
      @extend .card__boy--12;
      top: 48px;
    }
    &--18 {
      @extend .absolute;
      background-color: $gray;
      height: 12px;
      left: 24px;
      top: 48px;
      width: 24px;
    }
    &--19 {
      @extend .absolute;
      @extend .card__boy--2;
      background-color: $darkgray;
      left: 48px;
      top: 48px;
      width: 168px;
    }
    &--20 {
      @extend .absolute;
      @extend .card__boy--10;
      left: 216px;
      top: 48px;
      width: 60px;
    }
    &--21 {
      @extend .absolute;
      @extend .card__boy--17;
      top: 60px;
    }
    &--22 {
      @extend .absolute;
      @extend .card__boy--20;
      left: 24px;
      top: 60px;
      width: 48px;
    }
    &--23 {
      @extend .absolute;
      @extend .card__boy--19;
      left: 72px;
      top: 60px;
      width: 132px;
    }
    &--24 {
      @extend .absolute;
      @extend .card__boy--20;
      left: 204px;
      top: 60px;
      width: 72px;
    }
    &--25 {
      @extend .absolute;
      background-color: $gray;
      height: 12px;
      top: 72px;
      width: 84px;
    }
    &--26 {
      @extend .absolute;
      background-color: $darkskin;
      left: 84px;
      height: 12px;
      top: 72px;
      width: 108px;
    }
    &--27 {
      @extend .absolute;
      @extend .card__boy--25;
      left: 192px;
    }
    &--28 {
      @extend .absolute;
      @extend .card__boy--25;
      top: 84px;
      width: 72px;
    }
    &--29 {
      @extend .absolute;
      background-color: $darkskin;
      left: 72px;
      height: 12px;
      top: 84px;
      width: 12px;
    }
    &--30 {
      @extend .absolute;
      @extend .card__boy--29;
      left: 192px;
    }
    &--31 {
      @extend .absolute;
      @extend .card__boy--28;
      left: 204px;
    }
    &--32 {
      @extend .absolute;
      @extend .card__boy--28;
      top: 96px;
      width: 60px;
    }
    &--33 {
      @extend .absolute;
      @extend .card__boy--29;
      left: 60px;
      top: 96px;
    }
    &--34 {
      @extend .absolute;
      @extend .card__boy--30;
      left: 204px;
      top: 96px;
    }
    &--35 {
      @extend .absolute;
      @extend .card__boy--32;
      left: 216px;
      top: 96px;
    }
    &--36 {
      @extend .absolute;
      @extend .card__boy--28;
      top: 108px;
      width: 48px;
    }
    &--37 {
      @extend .absolute;
      @extend .card__boy--29;
      left: 48px;
      height: 24px;
      top: 108px;
    }
    &--38 {
      @extend .absolute;
      @extend .card__boy--29;
      left: 216px;
      height: 24px;
      top: 108px;
    }
    &--39 {
      @extend .absolute;
      background-color: $wall;
      height: 48px;
      top: 120px;
      width: 12px;
    }
    &--40 {
      @extend .absolute;
      background-color: $gray;
      height: 60px;
      left: 12px;
      top: 120px;
      width: 36px;
    }
    &--41 {
      @extend .absolute;
      background-color: $gray;
      height: 12px;
      top: 168px;
      width: 12px;
    }
    &--42 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 72px;
      top: 132px;
      width: 24px;
    }
    &--43 {
      @extend .absolute;
      @extend .card__boy--42;
      left: 180px;
    }
    &--44 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 60px;
      top: 144px;
      width: 12px;
    }
    &--45 {
      @extend .absolute;
      @extend .card__boy--44;
      left: 96px;
    }
    &--46 {
      @extend .absolute;
      @extend .card__boy--44;
      left: 168px;
    }
    &--47 {
      @extend .absolute;
      @extend .card__boy--44;
      left: 204px;
    }
    &--48 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 60px;
      top: 168px;
      width: 48px;
    }
    &--49 {
      @extend .absolute;
      @extend .card__boy--48;
      left: 168px;
    }
    &--50 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 108px;
      top: 180px;
      width: 60px;
    }
    &--51 {
      @extend .absolute;
      background-color: $gray;
      height: 72px;
      left: 228px;
      top: 108px;
      width: 36px;
    }
    &--52 {
      @extend .absolute;
      background-color: $gray;
      height: 36px;
      left: 264px;
      top: 108px;
      width: 12px;
    }
    &--53 {
      @extend .absolute;
      background-color: $wall;
      height: 24px;
      left: 264px;
      top: 144px;
      width: 12px;
    }
    &--54 {
      @extend .absolute;
      @extend .card__boy--41;
      left: 264px;
    }
    &--55 {
      @extend .absolute;
      background-color: $brown;
      height: 24px;
      left: 48px;
      top: 180px;
      width: 12px;
    }
    &--56 {
      @extend .absolute;
      @extend .card__boy--55;
      left: 216px;
    }
    &--57 {
      @extend .absolute;
      @extend .card__boy--44;
      top: 192px;
      left: 108px;
    }
    &--58 {
      @extend .absolute;
      @extend .card__boy--57;
      left: 156px;
    }
    &--59 {
      @extend .absolute;
      @extend .card__boy--48;
      top: 204px;
    }
    &--60 {
      @extend .absolute;
      @extend .card__boy--49;
      top: 204px;
    }
    &--61 {
      @extend .absolute;
      @extend .card__boy--55;
      background-color: $darkskin;
      left: 132px;
      top: 192px;
    }
    &--62 {
      @extend .absolute;
      background-color: $wall;
      height: 96px;
      top: 180px;
      width: 12px;
    }
    &--63 {
      @extend .absolute;
      @extend .card__boy--62;
      left: 264px;
    }
    &--64 {
      @extend .absolute;
      background-color: $brown;
      height: 48px;
      left: 12px;
      top: 180px;
      width: 12px;
    }
    &--65 {
      @extend .absolute;
      @extend .card__boy--64;
      left: 252px;
    }
    &--66 {
      @extend .absolute;
      @extend .card__boy--44;
      left: 24px;
      top: 180px;
    }
    &--67 {
      @extend .absolute;
      @extend .card__boy--66;
      left: 240px;
    }
    &--68 {
      @extend .absolute;
      background-color: $gray;
      height: 24px;
      left: 36px;
      top: 180px;
      width: 12px;
    }
    &--69 {
      @extend .absolute;
      @extend .card__boy--68;
      left: 228px;
    }
    &--70 {
      @extend .absolute;
      @extend .card__boy--29;
      background-color: $brown;
      left: 24px;
      top: 180px;
    }
    &--71 {
      @extend .absolute;
      @extend .card__boy--70;
      background-color: $brown;
      left: 240px;
    }
    &--72 {
      @extend .absolute;
      @extend .card__boy--39;
      left: 12px;
      top: 228px;
    }
    &--73 {
      @extend .absolute;
      @extend .card__boy--72;
      left: 252px;
    }
    &--74 {
      @extend .absolute;
      @extend .card__boy--70;
      background-color: $darkskin;
      top: 192px;
    }
    &--75 {
      @extend .absolute;
      @extend .card__boy--71;
      background-color: $darkskin;
      top: 192px;
    }
    &--76 {
      @extend .absolute;
      @extend .card__boy--70;
      top: 228px;
    }
    &--77 {
      @extend .absolute;
      @extend .card__boy--71;
      top: 228px;
    }
    &--78 {
      @extend .absolute;
      @extend .card__boy--70;
      background-color: $darkskin;
      left: 48px;
      top: 228px;
    }
    &--79 {
      @extend .absolute;
      @extend .card__boy--71;
      background-color: $darkskin;
      left: 216px;
      top: 228px;
    }
    &--80 {
      @extend .absolute;
      background-color: $brown;
      height: 48px;
      left: 36px;
      top: 204px;
      width: 12px;
    }
    &--81 {
      @extend .absolute;
      @extend .card__boy--80;
      left: 228px;
    }
    &--82 {
      @extend .absolute;
      @extend .card__boy--55;
      top: 240px;
    }
    &--83 {
      @extend .absolute;
      @extend .card__boy--56;
      top: 240px;
    }
    &--84 {
      @extend .absolute;
      @extend .card__boy--42;
      left: 60px;
      top: 252px;
    }
    &--85 {
      @extend .absolute;
      @extend .card__boy--43;
      left: 192px;
      top: 252px;
    }
    &--86 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 84px;
      top: 264px;
      width: 108px;
    }
    &--87 {
      @extend .absolute;
      @extend .card__boy--84;
      background-color: $wall;
      top: 264px;
    }
    &--88 {
      @extend .absolute;
      @extend .card__boy--85;
      background-color: $wall;
      top: 264px;
    }
    &--89 {
      @extend .absolute;
      @extend .card__boy--76;
      background-color: $wall;
      top: 240px;
    }
    &--90 {
      @extend .absolute;
      @extend .card__boy--77;
      background-color: $wall;
      top: 240px;
    }
    &--91 {
      @extend .absolute;
      @extend .card__boy--78;
      background-color: $wall;
      top: 264px;
    }
    &--92 {
      @extend .absolute;
      @extend .card__boy--79;
      background-color: $wall;
      top: 264px;
    }
    &--93 {
      @extend .absolute;
      background-color: $wall;
      height: 24px;
      left: 24px;
      top: 252px;
      width: 24px;
    }
    &--94 {
      @extend .absolute;
      @extend .card__boy--93;
      background-color: $wall;
      left: 228px;
    }
    &--95 {
      @extend .absolute;
      @extend .card__boy--42;
      top: 276px;
      left: 60px;
    }
    &--96 {
      @extend .absolute;
      @extend .card__boy--95;
      left: 192px;
    }
    &--97 {
      @extend .absolute;
      @extend .card__boy--86;
      background-color: $darkgray;
      top: 276px;
    }
    &--98 {
      @extend .absolute;
      @extend .card__boy--61;
      top: 276px;
    }
    &--99 {
      @extend .absolute;
      background-color: $brown;
      height: 168px;
      left: 48px;
      top: 288px;
      width: 12px;
    }
    &--100 {
      @extend .absolute;
      @extend .card__boy--99;
      left: 216px;
    }
    &--101 {
      @extend .absolute;
      background-color: $brown;
      height: 36px;
      left: 60px;
      top: 456px;
      width: 12px;
    }
    &--102 {
      @extend .absolute;
      @extend .card__boy--101;
      left: 204px;
    }
    &--103 {
      @extend .absolute;
      background-color: $brown;
      height: 24px;
      left: 72px;
      top: 492px;
      width: 60px;
    }
    &--104 {
      @extend .absolute;
      @extend .card__boy--103;
      left: 144px;
    }
    &--105 {
      @extend .absolute;
      background-color: $brown;
      height: 24px;
      left: 120px;
      top: 468px;
      width: 12px;
    }
    &--106 {
      @extend .absolute;
      @extend .card__boy--105;
      left: 144px;
    }
    &--107 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 120px;
      top: 456px;
      width: 36px;
    }
    &--108 {
      @extend .absolute;
      background-color: $blue;
      height: 36px;
      left: 72px;
      top: 456px;
      width: 48px;
    }
    &--109 {
      @extend .absolute;
      @extend .card__boy--108;
      left: 156px;
    }
    &--110 {
      @extend .absolute;
      background-color: $blue;
      height: 36px;
      left: 60px;
      top: 420px;
      width: 156px;
    }
    &--111 {
      @extend .absolute;
      background-color: $red;
      height: 12px;
      left: 60px;
      top: 408px;
      width: 63px;
    }
    &--112 {
      @extend .absolute;
      background-color: $yellow;
      height: 12px;
      left: 123px;
      top: 408px;
      width: 30px;
    }
    &--113 {
      @extend .absolute;
      background-color: $red;
      height: 12px;
      left: 153px;
      top: 408px;
      width: 63px;
    }
    &--114 {
      @extend .absolute;
      background-color: $darkgray;
      height: 120px;
      left: 60px;
      top: 288px;
      width: 156px;
    }
    &--115 {
      @extend .absolute;
      animation: flame-neck1;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      background-color: $yellow;
      height: 12px;
      left: 96px;
      top: 264px;
      width: 12px;
    }
    &--116 {
      @extend .absolute;
      @extend .card__boy--115;
      animation: flame-neck2;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      left: 120px;
    }
    &--117 {
      @extend .absolute;
      @extend .card__boy--115;
      left: 144px;
    }
    &--118 {
      @extend .absolute;
      @extend .card__boy--115;
      animation: flame-neck2;  
      animation-duration: 1s;
      animation-iteration-count: infinite;    
      left: 168px;
    }
    &--119 {
      @extend .absolute;
      animation: flame-onneck;  
      animation-duration: 3s;
      animation-iteration-count: infinite; 
      background-color: $yellow;
      height: 12px;
      left: 84px;
      top: 252px;
      width: 12px;  
    }
    &--120 {
      @extend .absolute;
      @extend .card__boy--119;
      background-color: $orange;
      left: 108px;
    }
    &--121 {
      @extend .absolute;
      @extend .card__boy--119;
      left: 132px;
    }
    &--122 {
      @extend .absolute;
      @extend .card__boy--120;
      left: 156px;
    }
    &--123 {
      @extend .absolute;
      animation: flame-face-b1;  
      animation-duration: 3s;
      animation-iteration-count: infinite; 
      background-color: $skin;
      height: 12px;
      left: 96px;
      top: 252px;
      width: 12px; 
    }
    &--124 {
      @extend .absolute;
      animation: flame-face-b2;  
      animation-duration: 3s;
      animation-iteration-count: infinite; 
      background-color: $skin;
      height: 12px;
      left: 120px;
      top: 252px;
      width: 12px; 
    }
    &--125 {
      @extend .absolute;
      animation: flame-face-b1;  
      animation-duration: 3s;
      animation-iteration-count: infinite; 
      background-color: $skin;
      height: 12px;
      left: 144px;
      top: 252px;
      width: 12px; 
    }
    &--126 {
      @extend .absolute;
      animation: flame-face-b2;  
      animation-duration: 3s;
      animation-iteration-count: infinite; 
      background-color: $skin;
      height: 12px;
      left: 168px;
      top: 252px;
      width: 12px; 
    }
    &--127 {
      @extend .absolute;
      animation: mouth1;  
      animation-duration: 3s;
      animation-iteration-count: infinite; 
      background-color: $skin;
      height: 12px;
      left: 108px;
      top: 228px;
      width: 12px; 
    }
    &--128 {
      @extend .absolute;
      @extend .card__boy--127;
      animation: mouth1;  
      animation-duration: 3s;
      animation-iteration-count: infinite; 
      left: 156px;
    }
    &--129 {
      @extend .absolute;
      background-color: $darkskin;
      height: 12px;
      left: 120px;
      top: 228px;
      width: 12px; 
    }
    &--130 {
      @extend .absolute;
      background-color: $darkskin;
      height: 12px;
      left: 132px;
      top: 228px;
      width: 12px; 
    }
    &--131 {
      @extend .absolute;
      animation: mouth1;  
      animation-duration: 3s;
      animation-iteration-count: infinite; 
      background-color: $darkskin;
      height: 12px;
      left: 144px;
      top: 228px;
      width: 12px; 
    }
  }
  &__cake {
    @extend .absolute;
    animation: cake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 108px;
    margin: 50px;
    top: 288px;
    width: 276px;
    &--1 {
      @extend .absolute;
      background-color: $blue;
      height: 36px;
      left: 96px;
      top: -12px;
      width: 12px;
    }
    &--2 {
      @extend .absolute;
      @extend .card__cake--1;
      left: 120px;
    }
    &--3 {
      @extend .absolute;
      @extend .card__cake--1;
      left: 144px;
      height: 48px;
    }
    &--4 {
      @extend .absolute;
      @extend .card__cake--1;
      left: 168px;
    }
    &--5 {
      @extend .absolute;
      background-color: $cream;
      height: 12px;
      left: 72px;
      width: 12px;
    }
    &--6 {
      @extend .absolute;
      @extend .card__cake--5;
      left: 84px;
    }
    &--7 {
      @extend .absolute;
      @extend .card__cake--5;
      left: 108px;
    }
    &--8 {
      @extend .absolute;
      @extend .card__cake--5;
      background-color: $wall;
      left: 132px;
    }
    &--9 {
      @extend .absolute;
      @extend .card__cake--5;
      left: 156px;
    }
    &--10 {
      @extend .absolute;
      @extend .card__cake--5;
      left: 180px;
    }
    &--11 {
      @extend .absolute;
      @extend .card__cake--5;
      left: 192px;
    }
    &--12 {
      @extend .absolute;
      background-color: $cream;
      height: 12px;
      left: 60px;
      top: 12px;
      width: 36px;
    }
    &--13 {
      @extend .absolute;
      @extend .card__cake--12;
      left: 180px;
    }
    &--14 {
      @extend .absolute;
      @extend .card__cake--7;
      top: 12px;
    }
    &--15 {
      @extend .absolute;
      @extend .card__cake--8;
      background-color: $cream;
      top: 12px;
    }
    &--16 {
      @extend .absolute;
      @extend .card__cake--9;
      top: 12px;
    }
    &--17 {
      @extend .absolute;
      background-color: $skin;
      height: 12px;
      left: 60px;
      top: 24px;
      width: 12px;
    }
    &--18 {
      @extend .absolute;
      @extend .card__cake--17;
      background-color: $cream;
      left: 72px;
    }
    &--19 {
      @extend .absolute;
      @extend .card__cake--18;
      background-color: green;
      left: 84px;
    }
    &--20 {
      @extend .absolute;
      background-color: $cream;
      height: 12px;
      left: 96px;
      top: 24px;
      width: 48px;
    }
    &--21 {
      @extend .absolute;
      background-color: $cream;
      height: 12px;
      left: 156px;
      top: 24px;
      width: 24px;
    }
    &--22 {
      @extend .absolute;
      @extend .card__cake--18;
      background-color: $yellow;
      left: 180px;
    }
    &--23 {
      @extend .absolute;
      @extend .card__cake--18;
      left: 192px;
    }
    &--24 {
      @extend .absolute;
      @extend .card__cake--17;
      left: 204px;
    }
    &--25 {
      @extend .absolute;
      @extend .card__cake--17;
      background-color: $cream;
      top: 36px;
    }
    &--26 {
      @extend .absolute;
      background-color: $skin;
      height: 12px;
      left: 72px;
      top: 36px;
      width: 132px;
    }
    &--27 {
      @extend .absolute;
      @extend .card__cake--24;
      background-color: $cream;
      left: 204px;
      top: 36px;
    }
    &--28 {
      @extend .absolute;
      background-color: $cream;
      height: 36px;
      left: 60px;
      top: 48px;
      width: 156px;
    }
    &--29 {
      @extend .absolute;
      @extend .card__cake--25;
      background-color: $gray;
      top: 84px;
    }
    &--30 {
      @extend .absolute;
      @extend .card__cake--26;
      background-color: $cream;
      top: 84px;
    }
    &--31 {
      @extend .absolute;
      @extend .card__cake--24;
      background-color: $gray;
      top: 84px;
    }
    &--32 {
      @extend .absolute;
      background-color: $gray;
      height: 12px;
      left: 60px;
      top: 96px;
      width: 156px;
    }
    &--33 {
      @extend .absolute;
      background-color: $skin;
      height: 12px;
      left: 144px;
      top: 48px;
      width: 36px;
    }
    &--34 {
      @extend .absolute;
      background-color: $skin;
      height: 12px;
      left: 156px;
      top: 60px;
      width: 12px;
    }
    &--35 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 48px;
      width: 24px;
    }
    &--36 {
      @extend .absolute;
      @extend .card__cake--35;
      left: 204px;
    }
    &--37 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 36px;
      top: 12px;
      width: 12px;
    }
    &--38 {
      @extend .absolute;
      @extend .card__cake--37;
      background-color: $darkgray;
      left: 48px;
    }
    &--39 {
      @extend .absolute;
      @extend .card__cake--38;
      left: 216px;
    }
    &--40 {
      @extend .absolute;
      @extend .card__cake--37;
      left: 228px;
    }
    &--41 {
      @extend .absolute;
      @extend .card__cake--37;
      left: 24px;
      top: 24px;
    }
    &--42 {
      @extend .absolute;
      background-color: $darkgray;
      height: 12px;
      left: 36px;
      top: 24px;
      width: 24px;
    }
    &--43 {
      @extend .absolute;
      @extend .card__cake--42;
      left: 216px;
    }
    &--44 {
      @extend .absolute;
      @extend .card__cake--41;
      left: 240px;
    }
    &--45 {
      @extend .absolute;
      @extend .card__cake--41;
      left: 12px;
      top: 36px;
    }
    &--46 {
      @extend .absolute;
      background-color: $darkgray;
      height: 12px;
      left: 24px;
      top: 36px;
      width: 36px;
    }
    &--47 {
      @extend .absolute;
      @extend .card__cake--46;
      left: 216px;
    }
    &--48 {
      @extend .absolute;
      @extend .card__cake--45;
      left: 252px;
    }
    &--49 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 12px;
      top: 48px;
      width: 48px;
    }
    &--50 {
      @extend .absolute;
      @extend .card__cake--49;
      left: 216px;
    }
    &--51 {
      @extend .absolute;
      background-color: $brown;
      height: 36px;
      left: 12px;
      top: 60px;
      width: 12px;
    }
    &--52 {
      @extend .absolute;
      @extend .card__cake--51;
      left: 252px;
    }
    &--53 {
      @extend .absolute;
      background-color: $skin;
      height: 36px;
      left: 24px;
      top: 60px;
      width: 24px;
    }
    &--54 {
      @extend .absolute;
      @extend .card__cake--53;
      left: 228px;
    }
    &--55 {
      @extend .absolute;
      background-color: $gray;
      height: 36px;
      left: 48px;
      top: 60px;
      width: 12px;
    }
    &--56 {
      @extend .absolute;
      @extend .card__cake--55;
      left: 216px;
    }
    &--57 {
      @extend .absolute;
      background-color: $brown;
      height: 12px;
      left: 24px;
      top: 96px;
      width: 36px;
    }
    &--58 {
      @extend .absolute;
      @extend .card__cake--57;
      left: 216px;
    }
  }
  &__message {
    @extend .absolute;
    animation: message;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: $white;
    bottom: 204px;
    height: 264px;
    right: 35px;
    width: 390px;
    &--1 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      left: 0px;
      width: 24px;
    }
    &--2 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      right: 0px;
      width: 24px;
    }
    &--3 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      left: 0px;
      top: 12px;
      width: 12px;
    }
    &--4 {
      @extend .absolute;
      background-color: $wall;
      height: 12px;
      right: 0px;
      top: 12px;
      width: 12px;
    }
    &--5 {
      @extend .absolute;
      background-color: $darkblue;
      height: 72px;
      left: 48px;
      top: 36px;
      width: 12px;
    }
    &--6 {
      @extend .absolute;
      background-color: $darkblue;
      height: 12px;
      left: 60px;
      top: 72px;
      width: 24px;
    }
    &--7 {
      @extend .absolute;
      @extend .card__message--5;
      left: 84px;
    }
    &--8 {
      @extend .absolute;
      background-color: $darkblue;
      height: 60px;
      left: 108px;
      top: 48px;
      width: 12px;
    }
    &--9 {
      @extend .absolute;
      @extend .card__message--2;
      background-color: $darkblue;
      left: 120px;
      top: 36px;
    }
    &--10 {
      @extend .absolute;
      @extend .card__message--8;
      left: 144px;
    }
    &--11 {
      @extend .absolute;
      @extend .card__message--9;
      top: 72px;
    }
    &--12 {
      @extend .absolute;
      @extend .card__message--5;
      left: 168px;
    }
    &--13 {
      @extend .absolute;
      @extend .card__message--6;
      left: 180px;
      top: 72px;
    }
    &--14 {
      @extend .absolute;
      @extend .card__message--6;
      left: 180px;
      top: 36px;
    }
    &--15 {
      @extend .absolute;
      background-color: $darkblue;
      height: 24px;
      left: 204px;
      top: 48px;
      width: 12px;
    }
    &--16 {
      @extend .absolute;
      @extend .card__message--12;
      left: 228px;
    }
    &--17 {
      @extend .absolute;
      @extend .card__message--13;
      left: 240px;
    }
    &--18 {
      @extend .absolute;
      @extend .card__message--14;
      left: 240px;
    }
    &--19 {
      @extend .absolute;
      @extend .card__message--15;
      left: 264px;
    }
    &--20 {
      @extend .absolute;
      @extend .card__message--5;
      height: 36px;
      left: 288px;
    }
    &--21 {
      @extend .absolute;
      @extend .card__message--20;
      left: 324px;
    }
    &--22 {
      @extend .absolute;
      @extend .card__message--17;
      left: 300px;
    }
    &--23 {
      @extend .absolute;
      @extend .card__message--19;
      left: 312px;
      top: 84px;
    }
    &--24 {
      @extend .absolute;
      @extend .card__message--5;
      height: 84px;
      top: 144px;
    }
    &--25 {
      @extend .absolute;
      @extend .card__message--6;
      top: 144px;
    }
    &--26 {
      @extend .absolute;
      @extend .card__message--6;
      top: 180px;
    }
    &--27 {
      @extend .absolute;
      @extend .card__message--6;
      top: 216px;
    }
    &--28 {
      @extend .absolute;
      @extend .card__message--15;
      left: 84px;
      top: 156px;
    }
    &--29 {
      @extend .absolute;
      @extend .card__message--28;
      top: 192px;
    }
    &--30 {
      @extend .absolute;
      @extend .card__message--6;
      left: 108px;
      top: 180px;
      width: 36px;
    }
    &--31 {
      @extend .absolute;
      @extend .card__message--24;
      left: 156px;
    }
    &--32 {
      @extend .absolute;
      @extend .card__message--25;
      left: 168px;
    }
    &--33 {
      @extend .absolute;
      @extend .card__message--27;
      left: 168px;
    }
    &--34 {
      @extend .absolute;
      @extend .card__message--5;
      height: 60px;
      left: 192px;
      top: 156px;
    }
    &--35 {
      @extend .absolute;
      @extend .card__message--5;
      left: 216px;
      top: 156px;
    }
    &--36 {
      @extend .absolute;
      @extend .card__message--32;
      left: 228px;
    }
    &--37 {
      @extend .absolute;
      @extend .card__message--35;
      left: 252px;
    }
    &--38 {
      @extend .absolute;
      @extend .card__message--36;
      top: 180px;
    }
    &--39 {
      @extend .absolute;
      @extend .card__message--20;
      left: 276px;
      top: 144px;
    }
    &--40 {
      @extend .absolute;
      @extend .card__message--39;
      left: 324px;
    }
    &--41 {
      @extend .absolute;
      @extend .card__message--38;
      left: 288px;
      width: 36px;
    }
    &--42 {
      @extend .absolute;
      @extend .card__message--40;
      left: 300px;
      top: 192px;
    }
    &--43 {
      @extend .absolute;
      @extend .card__message--3;
      top: 240px;
    }
    &--44 {
      @extend .absolute;
      @extend .card__message--1;
      top: 252px;
    }
    &--45 {
      @extend .absolute;
      @extend .card__message--2;
      top: 252px;
    }
    &--46 {
      @extend .absolute;
      @extend .card__message--4;
      top: 240px;
    }
    &--47 {
      @extend .absolute;
      background-color: $white;
      height: 12px;
      left: 48px;
      width: 48px;
      top: 264px;
    }
    &--48 {
      @extend .absolute;
      @extend .card__message--47;
      width: 36px;
      top: 276px;
    }
    &--49 {
      @extend .absolute;
      @extend .card__message--47;
      left: 36px;
      width: 24px;
      top: 288px;
    }
  }
  &__floor {
    @extend .absolute;
    background-color: $floor;
    bottom: 0px;
    height: 49px;
    width: 800px;
  }
  &__by {
    @extend .absolute;
    bottom: -21px;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    right: 30px;
  }
}

@keyframes eye {
  0% { opacity: 1; }
  48% { opacity: 1; }
  49% { opacity: 0; }
  55% { opacity: 1; }
  57% { opacity: 0; }
  98% { opacity: 0; }
  99% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flame-neck1 {
  0% { background-color: $yellow }
  49% { background-color: $yellow }
  50% { background-color: $orange }
  60% { background-color: $orange }
  61% { background-color: $yellow }
  100% { background-color: $yellow }
}

@keyframes flame-neck2 {
  0% { background-color: $orange }
  49% { background-color: $orange }
  50% { background-color: $yellow }
  60% { background-color: $yellow }
  61% { background-color: $orange }
  100% { background-color: $orange }
}

@keyframes flame-onneck {
  0% { opacity: 1; }
  59% { opacity: 1; }
  60% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes cake {
  0% { top: 276px; }
  59% { top: 276px; }
  60% { top: 288px; }
  99% { top: 288px; }
  100% { top: 276px; }
}

@keyframes message {
  0% { bottom: 204px }
  50% { bottom: 240px }
  100% { bottom: 204px }
}

@keyframes flame-face-b1 {
  0% { background-color: $skin }
  59% { background-color: $skin }
  60% { background-color: $yellow }
  69% { background-color: $yellow }
  70% { background-color: $skin }
  85% { background-color: $yellow }
  95% { background-color: $yellow }
  99% { background-color: $skin }
  100% { background-color: $yellow }
}

@keyframes flame-face-b2 {
  0% { background-color: $skin }
  69% { background-color: $skin }
  70% { background-color: $yellow }
  85% { background-color: $skin }
  95% { background-color: $skin }
  99% { background-color: $yellow }
  100% { background-color: $skin }
}

// @keyframes mouth1 {
//   0% { background-color: $darkskin }
//   29% { background-color: $darkskin }
//   30% { background-color: $skin }
//   31% { background-color: $skin }
//   100% { background-color: $skin }
// }

@keyframes mouth1 {
  0% { background-color: $skin }
  59% { background-color: $skin }
  60% { background-color: $darkskin; }
  99% { background-color: $darkskin }
  100% { background-color: $skin }
}